body{
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  margin:0px;
  min-height:2200px;

}
header{
    display:flex;
    flex-direction:row;
    color:#499A13;
    padding-top:10px;
    background-color:rgba(255, 255, 255, 0.753);
    position:fixed;
    width:100%;
}
.nav-links{
    margin-left:400px;
    
}
 header div{
    margin-left:250px;
     font-size:40px;
    
    }
.nav-links a{
    margin-right:20px;
    font-size:25px;
    text-decoration:none;
    color:#499A13;
    padding:2px 10px 2px 10px;
}
.nav-links a:hover{
   border: solid 5px #499A13;
    border-radius:30px;
    background-color: #499A13;
    color:white
}
 .cover
{
    background:url(./img/img2.jpg);
    height:500px;
     background-position:center; 
     background-size:cover; 
     padding-top:300px;
     padding-left:100px;
    }  

/* .cover{
    background-image:url("./img2.jpg");
    height:700px;
    background-position:center;
    background-size: cover;
} */
.cover p1{
    font-size:40px;
    margin:0px;
    
}
.cover .p2{
    font-size:80px;
    color:#FF8F00;
    margin:0px;

}
.cover .p3{
 margin:0px;
 text-transform:capitalize;
}
.cover button{
    border-radius:30px;
    background-color:#FF8F00;
    border:#FF8F00;
    font-size:25px;
    padding:15px;
    color:white;
    margin-top:60px;
}
.cover button:hover{
    box-shadow:1px 1px 20px #FF8F00;
}
.text-categorie,.products span{
    font-size:25px;
    margin-left:100px;
}
.categorie button,.products button{
    color:white;
    font-size:22px;
    background-color:#499A13;
    border:#499A13;
    padding:10px;
    border-radius:30px;
    margin-left:900px;
}
.categorie{
    margin-top:20px;
    min-height:500px;
}
.card img{
    width:120px;
    margin:0px;
    

}
.card{
    /* background-color: #FFBE91; */
    width:200px;
    padding:20px;
    height:290px;
    border-radius:10px;
    margin-top:30px;
    margin-right:20px;
    text-align:center;
}
.name1 p{
    margin:0px;
}
.name{
    margin-top:30px;
}
.name3,.name2{
    margin-top:30px;
}
.card-container{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.card-products{
    border:solid 2px grey;
    box-shadow:1px 1px 10px ;
    width:400px;
    margin-right:30px;
    
}
.card-products img{
    width:200px;
    height:200px;
     margin:0px;
}
.rest{
    padding:20px;
}
.container-products{
    margin:70px 70px 50px 70px;
    display:flex;
    flex-direction:row
}
.card-products span6{
    border: solid 1px green;
    padding:10px;
    margin-left:235px;
    border-radius: 10px;
    color:#ffff;
    background-color: green;
}
span6:hover{
    background-color:orangered;
    border: orangered;
}
.products{
    min-height:2700px;
}
.about img{
    width:500px;
}
.about{
    margin:0px 300px 100px 60px;
    display:flex;
    flex-direction:row;
font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;

}
.about div{
    margin-left:50px;
}
.contacts div{
    font-size: 40px;
}
.contacts  div2 a{
    border: solid 1px green;
    border-radius:30px;
    padding:5px;
    background-color: green;
    color:#ffff;
}
.contacts{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    background-color: #8dc668;
    align-items: center;
    padding:20px 0px;

}